# Server Configuration
PORT=3000
LOG_LEVEL=debug
CLIENT_URL=http://localhost:3000

# Database (Replace with your own MongoDB URI)
DATABASE_URL=mongodb+srv://<username>:<password>@<cluster-url>/?appName=CryptoDB

# External APIs
COINCAP_API_URL=https://rest.coincap.io/v3
COINCAP_API_KEY=your_coincap_api_key_here

# Security
SECRET_KEY=your_super_secret_jwt_key